.pio/
.vscode/
.DS_Store
build/
.env
.python-version
__pycache__/
.idea/
*.pyc
.coverage
.pytest_cache/
.clangd
.clang-tidy
.clang-format
.cache/
.ccls-cache/
*.log
.fleet/
.history/
.vs/
node_modules/
